@font-face {
  font-family: 'Pixelta';
  src: url('lib/assets/fonts/Pixelta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OCRA';
  src: url('lib/assets/fonts/OCRA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
	font-family: 'Pixelta', serif;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: #500D05;
	color: antiquewhite;
}
